*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.ctxt
*.bluej

#build.xml
#manifest.mf

# Folders
nbproject/private
doc
build
dist

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# exceptions

!3rdparty/commons-cli-1.2.jar
!3rdparty/prompt.jar
!3rdparty/org-netbeans-swing-outline.jar
